@model IEnumerable<Microsoft.WindowsAzure.Storage.Blob.IListBlobItem>

    @{
        ViewData["Title"] = "Audio Files";
    }

<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Audio Files
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
            <a href="@item.Uri">@item.Uri.ToString().Split('/').Last()</a>
            </td>
        </tr>
    }
    </tbody>
</table>
